.searchBar {
    padding: 20px;
    margin: 10px;
}

.navbar {
    padding: 5%;
    height: 50%
}

.nav-link {
    font-size: 25px;
}

.designCard {
    border: #2C394B;
    box-shadow: 0 4px 8px 0 #2C394B;
    margin: 20px;
    transition: 0.3s;
}

.CardHeader {
    background-color: #5F939A;
    color: #000000;
}

.newsImage {
    height: 200px;
    width: auto;
}

.blockquote-footer {
    background-color: #D8E3E7;
    color: #000000;
}